{% extends 'layout.html' %}
{% block content %}
    <h1> Acme Users Pg </h1>
    <form method = 'post' action = '/users' class = 'well'>
        <div class = 'form-group'>
            <input type = 'input' name = 'user' class = 'form-control'>
        </div>
          <div class = 'form-group'>
            <input type = 'checkbox' name = 'manager' class = 'form-control'>
            <label for = 'manager'>Is manager</label>
        </div>
        <div class = 'form-group'>
            <button type = 'submit' class = 'btn btn-primary'>Add User</button>
        </div>
        <!-- <div class = 'form-group'>
           <button type = 'submit' id = 'sync' class = 'btn btn-primary'>Sync</button>
        </div>  -->
    </form>
{% endblock %}