{% extends 'layout.html' %}
{% block content %}
<h1> Users </h1>
    {% for user in users %}
        <div class = 'row'>
            <h3 class = 'col-xs-8 panel-heading'>{{user.name}}</h3>
            {% if user.manager %}
            <h3 class = 'col-xs-4 panel-content'>Manager</h3>
            {% else %}
            <div class = 'panel-content'>
                <form method = 'post' action = '/users/{{user.id}}?_method=DELETE'>
                    <button class = 'btn btn-danger' input = 'submit'>Delete</button>
                </form>
                <form method = 'post' action = '/users/{{user.id}}?_method=PUT'>
                    <button class = 'btn btn-info' input = 'submit'>Upgrade to Manager</button>
                </form>
            </div>
            {% endif %}
        </div>
    <br>
    {% endfor %}
{% endblock %}