{% extends 'layout.html' %}
{% block content %}
<h1> Users </h1>
    {% for user in users %}
        <div class = 'panel panel-info'>
            <h3 class = 'panel-heading'>{{user.name}}</h3>
            {% if user.manager %}
            <h3 class = 'panel-footer'>Manager</h3>
            <br>
            {% else %}
            <div class = 'panel-content'>
                <form method = 'post' action = '/users/{{user.id}}?_method=DELETE'>
                    <button class = 'btn btn-danger' input = 'submit'>Delete</button>
                </form>
                <form method = 'post' action = '/users/{{user.id}}?_method=PUT'>
                    <button class = 'btn btn-info' input = 'submit'>Upgrade to Manager</button>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}